/**
 * Colors
 *
 * All colors used in the project should be declared here.
 */

$base-text-color: #333;
$base-selected-text-color: invert($base-text-color);
$base-selected-text-background-color: $base-text-color;

$base-link-color: #58b8d1;
$base-link-hover-color: #DF006E;

