/*
 * Design
 * 
 * Include all your design elements in this file.
 */


/* Main menu */


/* Base link settings */
a {
  color: $base-link-color;

  &:hover,
  &:focus {
    color: $base-link-hover-color;
  }
}

html {
  color: $base-text-color;

  ::selection,
  ::-moz-selection {
    color: $base-selected-text-color;
    background: $base-selected-text-background-color;
  }
}

header {
  margin-bottom: 3.750em; /* 60px on a 16px base font size */
  .logo {
    @include span-columns(11);
    text-align: center;
    border-bottom: 1px solid #0c7ec3;
    padding: 1.250em 0; /* 20px 0 on a 16px base font size */

    img {
      max-width: 15em;

      @include at-breakpoint($breakpoint_1) {
        max-width: 25em;
      }

      @include at-breakpoint($breakpoint_2) {
        max-width: 100%;
      }
    }
  }
}

aside {
  background-color: #f7f7f6;
  padding: 4%;

  h2 {
    margin-top: 0;
    color: #0c7ec3;
    font-family: "caviar_dreamsbold", $base-font-family;
    font-weight: normal;
  }

  .webform-component-textfield,
  .webform-component-email {
    label {
      display: none;
    }
  }

  label {
    font-weight: normal;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
  }

  .webform-component {
    @include span-columns(4,4);
    margin-bottom: 0;
  }

  .webform-component-checkboxes {
    label {
      span {
        color: #878786;
      }
    }
  }

  .form-checkboxes {
    .form-type-checkbox {
      @include span-columns(4,4);
      margin-bottom: 0;
      margin-top: 3px;

      input {
        @include span-columns(2,30);
      }
      label {
        @include span-columns(28 omega,30);
      }

      @include at-breakpoint($breakpoint_1) {
        input {
          @include span-columns(2,40);
        }
        label {
          @include span-columns(38 omega,40);
        }
      }
      @include at-breakpoint(40em lt-ie9) {
        input {
          @include span-columns(2,50);
        }
        label {
          @include span-columns(48 omega,50);
        }
      }
      @include at-breakpoint($breakpoint_2) {
        input {
          @include span-columns(2,25);
        }
        label {
          @include span-columns(23 omega,25);
        }
      }
    }
  }

  .form-actions {
    .form-submit {
      background-color: #0c7ec3;
      border: none;
      width: auto;
      padding: 10px 20px;
      color: #fff;
      text-transform: uppercase;
      margin-top: 1em;
      @include border-radius(5px);
      font-family: "caviar_dreamsbold", $base-font-family;
      font-weight: normal;

      &:hover,
      &:active,
      &:focus {
        background-color: #0062a7;
        -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s false;
      }
    }
  }  
}

.drupal-messages {
  margin-bottom: 2em;
}

.node-page {
  p {
    margin-bottom: 10px;
  }
}