/*
 * Design
 * 
 * Include all your design elements in this file.
 */


/* Main menu */

.primary_navigation {
  h2 {
    display: none;
  }
  ul.menu {
    @extend %horizontal-menu;
    text-align: center;
    li {
      margin: 0;
      padding: 0;
    }
    a {
      text-decoration: none;
      display: inline-block;
      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
  }
}
/* Base link settings */

a {
  color: $base-link-color;

  &:hover,
  &:focus {
    color: $base-link-hover-color;
  }
}

html {
  color: $base-text-color;

  ::selection,
  ::-moz-selection {
    color: $base-selected-text-color;
    background: $base-selected-text-background-color;
  }
}

  
