/**
 * Layout
 *
 * All layout theming should go in this file
 *
 *
 * Grid settings
 *
 * Set your base-font-size in typography.scss
 * Calculate your grid settings based on your base-font-size
 * Calculate your em's online: pxtoem.com
 * 
 * Ex: 12 col 960px 
 * Total:   960px = 60em          
 * Columns: 60px = 3.750em                    (x12  = 45em)
 * Gutters: 20px = 1.250em                    (x11  = 13.75em)
 * Grid padding: 10px = $gutter-width/2;      (x2   = 1.250em)
 *                                            ----------------
 *                                                    60em      
 */

$total-columns: 12;
$column-width: 3.750em;
$gutter-width: 1.250em;
$grid-padding: $gutter-width/2;


/* Breakpoints */

$breakpoint_1: 35em lt-ie9;
$breakpoint_2: 55em lt-ie9;


/* Layout */

.container {
  @include container;
}

header, footer, .main {
  @extend .clearfix;
}

.primary_navigation {
  display: none;
  @include at-breakpoint($breakpoint_1) {
    display: block;
  }
  @include at-breakpoint($breakpoint_2) {
    ul.menu {
      a {
        font-size: $base-font-size;
        padding: 0 20px;
      }
    }
  }
}

aside {
  display: none;
  @include at-breakpoint($breakpoint_1) {
    display: block;
  }
}

.one-sidebar {
  @include at-breakpoint($breakpoint_1) {
    &.sidebar-first {
      .main {
        @include span-columns(9 omega, 12);
      }
    }
    &.sidebar-second {
      .main {
        @include span-columns(9, 12);
      }
    }
    aside {
      &.sidebar_first {
        @include span-columns(3, 12);
      }
      &.sidebar_second {
        @include span-columns(3 omega, 12);
      }
    }
  }
}

.two-sidebars {
  @include at-breakpoint($breakpoint_1) {
    .main {
      @include span-columns(6, 12);
    }
    .sidebar_first {
      @include span-columns(3, 12);
    }
    .sidebar_second {
      @include span-columns(3 omega, 12);
    }
  }
}

.no-sidebars {
  @include at-breakpoint($breakpoint_1) {
    .main {
      @include span-columns(12 omega, 12);
      .panel-2col {
        .inside {
          margin: 0;
        }
        .panel-col-first {
          @include span-columns(8, 12);
        }
        .panel-col-last {
          @include span-columns(4 omega, 12);
        }
      }
      .panel-3col-33-stacked {
        .inside {
          margin: 0;
        }
        .center-wrapper {
          @include cf;
          .panel-panel {
            @include span-columns(4, 12);
          }
          .panel-col-last {
            @include omega;
          }
        }
      }
      .panel-3col-stacked {
        .inside {
          margin: 0;
        }
        .center-wrapper {
          @include cf;
          .panel-panel {
            @include span-columns(6, 12);
          }
          .panel-col-first,
          .panel-col-last {
            @include span-columns(3, 12);
          }
          .panel-col-last {
            @include omega;
          }
        }
      }
    }
  }
}

footer {
  @include at-breakpoint($breakpoint_1) {
    clear: both;
  }
}