/**
 * Internet Explorer style file
 *
 * This file is compiled into ie.css
 */
/* ---------- Compass Extensions ---------- */
/* line 8, /Library/Ruby/Gems/1.8/gems/toolkit-0.1.15/stylesheets/toolkit/_border-box.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, /Library/Ruby/Gems/1.8/gems/toolkit-0.1.15/stylesheets/toolkit/_fluid-media.scss */
img {
  max-width: 100%;
  height: auto;
}

/* ---------- Import base ---------- */
/**
 * Variables
 *
 * All general variables should be set here.
 */
/**
 * Functions
 *
 * All custom functions should be in this file.
 */
/**
 * Mixins
 *
 * Snippets of reusable CSS to develop faster and keep code readable
 */
/* line 19, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 26, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 36, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 43, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
[hidden] {
  display: none;
}

/* line 48, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
body {
  margin: 0;
}

/* line 55, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 62, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 67, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 73, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 77, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
blockquote {
  margin: 0;
}

/* line 82, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 87, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 94, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
p,
pre {
  margin: 0;
}

/* line 103, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
}

/* line 111, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 119, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
q {
  quotes: none;
}

/* line 124, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 129, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
small {
  font-size: 75%;
}

/* line 136, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 143, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 147, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 158, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
dl,
menu,
ol,
ul,
dd {
  margin: 0;
}

/* line 165, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
menu,
ol,
ul {
  padding: 0;
}

/* line 171, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 181, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 189, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 196, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
figure {
  margin: 0;
}

/* line 203, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
form {
  margin: 0;
}

/* line 208, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
}

/* line 216, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 234, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 249, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 260, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 273, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 282, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 297, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 306, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 313, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 320, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 330, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Extendables
 *
 * Collect all of your extendable classes, ids and silent extendables.
 */
/* line 18, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_extendables.scss */
.clearfix, header, footer, .main {
  *zoom: 1;
}
/* line 21, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_extendables.scss */
.clearfix:before, header:before, footer:before, .main:before, .clearfix:after, header:after, footer:after, .main:after {
  display: table;
  content: "";
}
/* line 25, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/logic/_extendables.scss */
.clearfix:after, header:after, footer:after, .main:after {
  clear: both;
}

/**
 * Layout
 *
 * All layout theming should go in this file
 *
 *
 * Grid settings
 *
 * Set your base-font-size in typography.scss
 * Calculate your grid settings based on your base-font-size
 * Calculate your em's online: pxtoem.com
 * 
 * Ex: 12 col 960px 
 * Total:   960px = 60em          
 * Columns: 60px = 3.750em                    (x12  = 45em)
 * Gutters: 20px = 1.250em                    (x11  = 13.75em)
 * Grid padding: 10px = $gutter-width/2;      (x2   = 1.250em)
 *                                            ----------------
 *                                                    60em      
 */
/* Breakpoints */
/* Layout */
/* line 36, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_layout.scss */
.container {
  *zoom: 1;
  max-width: 67.5em;
  _width: 67.5em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.625em;
  padding-right: 0.625em;
}
/* line 38, /Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 105, /Library/Ruby/Gems/1.8/gems/susy-1.0/sass/susy/_media.scss */
.lt-ie9 .one-sidebar .main {
  width: 62.96296%;
  float: left;
  margin-right: 1.85185%;
  display: inline;
}

/* line 53, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_layout.scss */
aside {
  width: 100%;
  float: left;
  margin-right: 1.85185%;
  display: inline;
}
/* line 56, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_layout.scss */
aside .block-webform {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 59, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_layout.scss */
aside .block-block {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 64, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_layout.scss */
.lt-ie9 aside .block-webform {
  width: 65.51724%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 67, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_layout.scss */
.lt-ie9 aside .block-block {
  width: 31.03448%;
  float: right;
  margin-right: 0;
  #margin-left: -1.25em;
  display: inline;
}
/* line 105, /Library/Ruby/Gems/1.8/gems/susy-1.0/sass/susy/_media.scss */
.lt-ie9 aside {
  width: 35.18519%;
  float: right;
  margin-right: 0;
  #margin-left: -1.25em;
  display: inline;
}
/* line 75, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_layout.scss */
.lt-ie9 aside .block-webform {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 78, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_layout.scss */
.lt-ie9 aside .block-block {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}

/**
 * Colors
 *
 * All colors used in the project should be declared here.
 */
/**
 * Typography
 *
 * All typography settings belong in this file.
 * px to em converter: pxtoem.com
 *
 * If you change the base-font-size, check your grid settings in base/layout.scss 
 */
/* line 27, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_typography.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/* line 38, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_typography.scss */
html,
button,
input,
select,
textarea {
  font-family: Arial, sans-serif;
}

/* Line-heights */
/* line 45, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_typography.scss */
h1 {
  font-size: 2em;
  line-height: 1.5em;
}

/* line 49, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_typography.scss */
h2 {
  font-size: 1.625em;
  line-height: 1.84615em;
  line-height: 26px;
}

/* line 54, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_typography.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
}

/* line 58, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_typography.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
}

/* line 62, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_typography.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
}

/* line 66, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_typography.scss */
h6 {
  font-size: 0.75em;
  line-height: 2em;
}

/*
 * Design
 * 
 * Include all your design elements in this file.
 */
/* Main menu */
/* Base link settings */
/* line 12, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
a {
  color: #58b8d1;
}
/* line 16, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
a:hover, a:focus {
  color: #df006e;
}

/* line 21, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
html {
  color: #444444;
}
/* line 25, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
html ::selection,
html ::-moz-selection {
  color: #bbbbbb;
  background: #444444;
}

/* line 31, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
header {
  margin-bottom: 3.750em;
  /* 60px on a 16px base font size */
}
/* line 33, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
header .logo {
  width: 100%;
  float: left;
  margin-right: 1.85185%;
  display: inline;
  text-align: center;
  border-bottom: 1px solid #0c7ec3;
  padding: 1.250em 0;
  /* 20px 0 on a 16px base font size */
}

/* line 41, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
aside {
  background-color: #f7f7f6;
  padding: 40px;
}
/* line 45, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
aside h2 {
  margin-top: 0;
  color: #0c7ec3;
}
/* line 50, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
aside label {
  font-weight: normal;
}
/* line 55, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
aside input,
aside textarea {
  width: 100%;
  padding: 10px;
}
/* line 60, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
aside .webform-component {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
  margin-bottom: 0;
}
/* line 67, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
aside .webform-component-checkboxes label span {
  color: #878786;
}
/* line 74, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
aside .form-checkboxes .form-type-checkbox {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
  margin-bottom: 0;
  margin-top: 3px;
}
/* line 79, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
aside .form-checkboxes .form-type-checkbox input {
  width: 6.04027%;
  float: left;
  margin-right: 0.67114%;
  display: inline;
}
/* line 82, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
aside .form-checkboxes .form-type-checkbox label {
  width: 93.28859%;
  float: right;
  margin-right: 0;
  #margin-left: -1.25em;
  display: inline;
}
/* line 87, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
.lt-ie9 aside .form-checkboxes .form-type-checkbox input {
  width: 4.52261%;
  float: left;
  margin-right: 0.50251%;
  display: inline;
}
/* line 90, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
.lt-ie9 aside .form-checkboxes .form-type-checkbox label {
  width: 94.97487%;
  float: right;
  margin-right: 0;
  #margin-left: -1.25em;
  display: inline;
}
/* line 95, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
.lt-ie9 aside .form-checkboxes .form-type-checkbox input {
  width: 3.61446%;
  float: left;
  margin-right: 0.40161%;
  display: inline;
}
/* line 98, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
.lt-ie9 aside .form-checkboxes .form-type-checkbox label {
  width: 95.98394%;
  float: right;
  margin-right: 0;
  #margin-left: -1.25em;
  display: inline;
}
/* line 103, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
.lt-ie9 aside .form-checkboxes .form-type-checkbox input {
  width: 7.25806%;
  float: left;
  margin-right: 0.80645%;
  display: inline;
}
/* line 106, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
.lt-ie9 aside .form-checkboxes .form-type-checkbox label {
  width: 91.93548%;
  float: right;
  margin-right: 0;
  #margin-left: -1.25em;
  display: inline;
}
/* line 114, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
aside .form-actions .form-submit {
  background-color: #0c7ec3;
  border: none;
  width: auto;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 126, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
aside .form-actions .form-submit:hover, aside .form-actions .form-submit:active, aside .form-actions .form-submit:focus {
  background-color: #0062a7;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s false;
}

/* line 138, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
.drupal-messages {
  margin-bottom: 2em;
}

/* line 143, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/base/_design.scss */
.node-page p {
  margin-bottom: 10px;
}

/* ---------- Import styles ---------- */
/*
 * Style 1
 */
/* ---------- Import features ---------- */
/*
 * Features
 */
/* Import service feature */
/*
 * Feature 1
 */
/* Layout */
/* line 7, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/features/sub/_service.scss */
.node-service.view-mode-teaser {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 105, /Library/Ruby/Gems/1.8/gems/susy-1.0/sass/susy/_media.scss */
.lt-ie9 .node-service.view-mode-teaser {
  width: 48.71795%;
  float: left;
  margin-right: 2.5641%;
  display: inline;
}
/* line 13, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/features/sub/_service.scss */
.lt-ie9 .node-service.view-mode-teaser:nth-child(2n+2) {
  width: 48.71795%;
  float: right;
  margin-right: 0;
  #margin-left: -1.25em;
  display: inline;
}
/* line 105, /Library/Ruby/Gems/1.8/gems/susy-1.0/sass/susy/_media.scss */
.lt-ie9 .node-service.view-mode-teaser {
  width: 45.94595%;
  float: left;
  margin-right: 1.35135%;
  display: inline;
}
/* line 21, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/features/sub/_service.scss */
.lt-ie9 .node-service.view-mode-teaser:nth-child(2n+2) {
  width: 45.94595%;
  float: left;
  margin-right: 1.35135%;
  display: inline;
}

/* Theming */
/* line 31, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/features/sub/_service.scss */
.node-service.view-mode-teaser {
  margin-bottom: 4em;
  /* 64px on a 16px base font size */
  text-align: center;
}
/* line 35, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/features/sub/_service.scss */
.node-service.view-mode-teaser h2 {
  color: #0c7ec3;
}
/* line 39, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/features/sub/_service.scss */
.node-service.view-mode-teaser p {
  padding: 0 1em;
}
/* line 105, /Library/Ruby/Gems/1.8/gems/susy-1.0/sass/susy/_media.scss */
.lt-ie9 .node-service.view-mode-teaser {
  min-height: 23em;
  margin-bottom: 2em;
}
/* line 105, /Library/Ruby/Gems/1.8/gems/susy-1.0/sass/susy/_media.scss */
.lt-ie9 .node-service.view-mode-teaser {
  min-height: 20em;
}

/* line 55, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/features/sub/_service.scss */
.view-mode-teaser.heating h2 {
  color: #0c7ec3;
}

/* line 58, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/features/sub/_service.scss */
.view-mode-teaser.ventilation h2 {
  color: #6ba5d9;
}

/* line 61, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/features/sub/_service.scss */
.view-mode-teaser.sanitair h2 {
  color: #0062a7;
}

/* line 64, /Users/Sanne/workspace/sannejanssen/verhelst/sites/all/themes/wundertheme/sass/features/sub/_service.scss */
.view-mode-teaser.solar h2 {
  color: #84d0f5;
}
