/**
 * Style file
 *
 * This file is compiled into style.css
 */
/* ---------- Compass Extensions ---------- */
/* line 8, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/toolkit-0.1.15/stylesheets/toolkit/_border-box.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/toolkit-0.1.15/stylesheets/toolkit/_fluid-media.scss */
img {
  max-width: 100%;
  height: auto;
}

/* ---------- Import base ---------- */
/**
 * Variables
 *
 * All general variables should be set here.
 */
/**
 * Functions
 *
 * All custom functions should be in this file.
 */
/**
 * Mixins
 *
 * Snippets of reusable CSS to develop faster and keep code readable
 */
/* line 19, ../sass/base/logic/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 26, ../sass/base/logic/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 36, ../sass/base/logic/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 43, ../sass/base/logic/_normalize.scss */
[hidden] {
  display: none;
}

/* line 48, ../sass/base/logic/_normalize.scss */
body {
  margin: 0;
}

/* line 55, ../sass/base/logic/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 62, ../sass/base/logic/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 67, ../sass/base/logic/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 73, ../sass/base/logic/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 77, ../sass/base/logic/_normalize.scss */
blockquote {
  margin: 0;
}

/* line 82, ../sass/base/logic/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 87, ../sass/base/logic/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 94, ../sass/base/logic/_normalize.scss */
p,
pre {
  margin: 0;
}

/* line 103, ../sass/base/logic/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
}

/* line 111, ../sass/base/logic/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 119, ../sass/base/logic/_normalize.scss */
q {
  quotes: none;
}

/* line 124, ../sass/base/logic/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 129, ../sass/base/logic/_normalize.scss */
small {
  font-size: 75%;
}

/* line 136, ../sass/base/logic/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 143, ../sass/base/logic/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 147, ../sass/base/logic/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 158, ../sass/base/logic/_normalize.scss */
dl,
menu,
ol,
ul,
dd {
  margin: 0;
}

/* line 165, ../sass/base/logic/_normalize.scss */
menu,
ol,
ul {
  padding: 0;
}

/* line 171, ../sass/base/logic/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 181, ../sass/base/logic/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 189, ../sass/base/logic/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 196, ../sass/base/logic/_normalize.scss */
figure {
  margin: 0;
}

/* line 203, ../sass/base/logic/_normalize.scss */
form {
  margin: 0;
}

/* line 208, ../sass/base/logic/_normalize.scss */
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
}

/* line 216, ../sass/base/logic/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 234, ../sass/base/logic/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 249, ../sass/base/logic/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 260, ../sass/base/logic/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 273, ../sass/base/logic/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 282, ../sass/base/logic/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 297, ../sass/base/logic/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 306, ../sass/base/logic/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 313, ../sass/base/logic/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 320, ../sass/base/logic/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 330, ../sass/base/logic/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Extendables
 *
 * Collect all of your extendable classes, ids and silent extendables.
 */
/* line 18, ../sass/base/logic/_extendables.scss */
.clearfix, header, footer, .main {
  *zoom: 1;
}
/* line 21, ../sass/base/logic/_extendables.scss */
.clearfix:before, header:before, footer:before, .main:before, .clearfix:after, header:after, footer:after, .main:after {
  display: table;
  content: "";
}
/* line 25, ../sass/base/logic/_extendables.scss */
.clearfix:after, header:after, footer:after, .main:after {
  clear: both;
}

/**
 * Layout
 *
 * All layout theming should go in this file
 *
 *
 * Grid settings
 *
 * Set your base-font-size in typography.scss
 * Calculate your grid settings based on your base-font-size
 * Calculate your em's online: pxtoem.com
 * 
 * Ex: 12 col 960px 
 * Total:   960px = 60em          
 * Columns: 60px = 3.750em                    (x12  = 45em)
 * Gutters: 20px = 1.250em                    (x11  = 13.75em)
 * Grid padding: 10px = $gutter-width/2;      (x2   = 1.250em)
 *                                            ----------------
 *                                                    60em      
 */
/* Breakpoints */
/* Layout */
/* line 36, ../sass/base/_layout.scss */
.container {
  *zoom: 1;
  max-width: 67.5em;
  _width: 67.5em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.625em;
  padding-right: 0.625em;
}
/* line 38, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 45, ../sass/base/_layout.scss */
.one-sidebar .main {
  width: 100%;
  float: left;
  margin-right: 1.85185%;
  display: inline;
}
@media (min-width: 55em) {
  /* line 45, ../sass/base/_layout.scss */
  .one-sidebar .main {
    width: 62.96296%;
    float: left;
    margin-right: 1.85185%;
  }
}

/* line 55, ../sass/base/_layout.scss */
aside {
  width: 100%;
  float: left;
  margin-right: 1.85185%;
  display: inline;
}
/* line 58, ../sass/base/_layout.scss */
aside .block-webform {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 61, ../sass/base/_layout.scss */
aside .block-block {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
@media (min-width: 35em) {
  /* line 66, ../sass/base/_layout.scss */
  aside .block-webform {
    width: 48.27586%;
    float: left;
    margin-right: 3.44828%;
  }
  /* line 69, ../sass/base/_layout.scss */
  aside .block-block {
    width: 31.03448%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 55em) {
  /* line 55, ../sass/base/_layout.scss */
  aside {
    width: 35.18519%;
    float: right;
    margin-right: 0;
  }
  /* line 77, ../sass/base/_layout.scss */
  aside .block-webform {
    width: 100%;
    float: left;
    margin-right: 3.44828%;
  }
  /* line 80, ../sass/base/_layout.scss */
  aside .block-block {
    width: 100%;
    float: left;
    margin-right: 3.44828%;
  }
}

/**
 * Colors
 *
 * All colors used in the project should be declared here.
 */
/**
 * Typography
 *
 * All typography settings belong in this file.
 * px to em converter: pxtoem.com
 *
 * If you change the base-font-size, check your grid settings in base/layout.scss 
 */
@font-face {
  font-family: 'caviar_dreamsbold';
  src: url("../fonts/caviar_dreams_bold-webfont.eot");
  src: url("../fonts/caviar_dreams_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/caviar_dreams_bold-webfont.woff") format("woff"), url("../fonts/caviar_dreams_bold-webfont.ttf") format("truetype"), url("../fonts/caviar_dreams_bold-webfont.svg#caviar_dreamsbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'caviar_dreamsregular';
  src: url("../fonts/caviardreams-webfont.eot");
  src: url("../fonts/caviardreams-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/caviardreams-webfont.woff") format("woff"), url("../fonts/caviardreams-webfont.ttf") format("truetype"), url("../fonts/caviardreams-webfont.svg#caviar_dreamsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 49, ../sass/base/_typography.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/* line 60, ../sass/base/_typography.scss */
html,
button,
input,
select,
textarea {
  font-family: Arial, sans-serif;
}

/* Line-heights */
/* line 67, ../sass/base/_typography.scss */
h1 {
  font-size: 2em;
  line-height: 1.5em;
}

/* line 71, ../sass/base/_typography.scss */
h2 {
  font-size: 1.625em;
  line-height: 1.84615em;
  line-height: 26px;
}

/* line 76, ../sass/base/_typography.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
}

/* line 80, ../sass/base/_typography.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
}

/* line 84, ../sass/base/_typography.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
}

/* line 88, ../sass/base/_typography.scss */
h6 {
  font-size: 0.75em;
  line-height: 2em;
}

/*
 * Design
 * 
 * Include all your design elements in this file.
 */
/* Main menu */
/* Base link settings */
/* line 12, ../sass/base/_design.scss */
a {
  color: #58b8d1;
}
/* line 16, ../sass/base/_design.scss */
a:hover, a:focus {
  color: #df006e;
}

/* line 21, ../sass/base/_design.scss */
html {
  color: #444444;
}
/* line 25, ../sass/base/_design.scss */
html ::selection,
html ::-moz-selection {
  color: #bbbbbb;
  background: #444444;
}

/* line 31, ../sass/base/_design.scss */
header {
  margin-bottom: 3.750em;
  /* 60px on a 16px base font size */
}
/* line 33, ../sass/base/_design.scss */
header .logo {
  width: 100%;
  float: left;
  margin-right: 1.85185%;
  display: inline;
  text-align: center;
  border-bottom: 1px solid #0c7ec3;
  padding: 1.250em 0;
  /* 20px 0 on a 16px base font size */
}
/* line 39, ../sass/base/_design.scss */
header .logo img {
  max-width: 15em;
}
@media (min-width: 35em) {
  /* line 39, ../sass/base/_design.scss */
  header .logo img {
    max-width: 25em;
  }
}
@media (min-width: 55em) {
  /* line 39, ../sass/base/_design.scss */
  header .logo img {
    max-width: 100%;
  }
}

/* line 53, ../sass/base/_design.scss */
aside {
  background-color: #f7f7f6;
  padding: 4%;
}
/* line 57, ../sass/base/_design.scss */
aside h2 {
  margin-top: 0;
  color: #0c7ec3;
  font-family: "caviar_dreamsregular", Arial, sans-serif;
  font-weight: normal;
}
/* line 66, ../sass/base/_design.scss */
aside .webform-component-textfield label,
aside .webform-component-email label {
  display: none;
}
/* line 71, ../sass/base/_design.scss */
aside label {
  font-weight: normal;
}
/* line 76, ../sass/base/_design.scss */
aside input,
aside textarea {
  width: 100%;
  padding: 10px;
}
/* line 81, ../sass/base/_design.scss */
aside .webform-component {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
  margin-bottom: 0;
}
/* line 88, ../sass/base/_design.scss */
aside .webform-component-checkboxes label span {
  color: #878786;
}
/* line 95, ../sass/base/_design.scss */
aside .form-checkboxes .form-type-checkbox {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
  margin-bottom: 0;
  margin-top: 3px;
}
/* line 100, ../sass/base/_design.scss */
aside .form-checkboxes .form-type-checkbox input {
  width: 6.04027%;
  float: left;
  margin-right: 0.67114%;
  display: inline;
}
/* line 103, ../sass/base/_design.scss */
aside .form-checkboxes .form-type-checkbox label {
  width: 93.28859%;
  float: right;
  margin-right: 0;
  #margin-left: -1.25em;
  display: inline;
}
@media (min-width: 35em) {
  /* line 108, ../sass/base/_design.scss */
  aside .form-checkboxes .form-type-checkbox input {
    width: 4.52261%;
    float: left;
    margin-right: 0.50251%;
  }
  /* line 111, ../sass/base/_design.scss */
  aside .form-checkboxes .form-type-checkbox label {
    width: 94.97487%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 40em) {
  /* line 116, ../sass/base/_design.scss */
  aside .form-checkboxes .form-type-checkbox input {
    width: 3.61446%;
    float: left;
    margin-right: 0.40161%;
  }
  /* line 119, ../sass/base/_design.scss */
  aside .form-checkboxes .form-type-checkbox label {
    width: 95.98394%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 55em) {
  /* line 124, ../sass/base/_design.scss */
  aside .form-checkboxes .form-type-checkbox input {
    width: 7.25806%;
    float: left;
    margin-right: 0.80645%;
  }
  /* line 127, ../sass/base/_design.scss */
  aside .form-checkboxes .form-type-checkbox label {
    width: 91.93548%;
    float: right;
    margin-right: 0;
  }
}
/* line 135, ../sass/base/_design.scss */
aside .form-actions .form-submit {
  background-color: #0c7ec3;
  border: none;
  width: auto;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 147, ../sass/base/_design.scss */
aside .form-actions .form-submit:hover, aside .form-actions .form-submit:active, aside .form-actions .form-submit:focus {
  background-color: #0062a7;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s false;
}

/* line 159, ../sass/base/_design.scss */
.drupal-messages {
  margin-bottom: 2em;
}

/* line 164, ../sass/base/_design.scss */
.node-page p {
  margin-bottom: 10px;
}

/* ---------- Import styles ---------- */
/*
 * Style 1
 */
/* ---------- Import features ---------- */
/*
 * Features
 */
/* Import service feature */
/*
 * Feature 1
 */
/* Layout */
/* line 7, ../sass/features/sub/_service.scss */
.node-service.view-mode-teaser {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
@media (min-width: 21em) {
  /* line 7, ../sass/features/sub/_service.scss */
  .node-service.view-mode-teaser {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
  }
  /* line 13, ../sass/features/sub/_service.scss */
  .node-service.view-mode-teaser:nth-child(2n+2) {
    width: 48.71795%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 35em) {
  /* line 7, ../sass/features/sub/_service.scss */
  .node-service.view-mode-teaser {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
  }
  /* line 21, ../sass/features/sub/_service.scss */
  .node-service.view-mode-teaser:nth-child(2n+2) {
    width: 48.71795%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 55em) {
  /* line 7, ../sass/features/sub/_service.scss */
  .node-service.view-mode-teaser {
    width: 45.94595%;
    float: left;
    margin-right: 1.35135%;
  }
  /* line 29, ../sass/features/sub/_service.scss */
  .node-service.view-mode-teaser:nth-child(2n+2) {
    width: 45.94595%;
    float: left;
    margin-right: 1.35135%;
  }
}

/* Theming */
/* line 39, ../sass/features/sub/_service.scss */
.node-service.view-mode-teaser {
  margin-bottom: 3em;
  /* 64px on a 16px base font size */
  text-align: center;
}
/* line 43, ../sass/features/sub/_service.scss */
.node-service.view-mode-teaser .icon {
  max-width: 6em;
  margin-left: auto;
  margin-right: auto;
}
/* line 48, ../sass/features/sub/_service.scss */
.node-service.view-mode-teaser .icon img {
  height: auto;
  width: 100%;
}
/* line 56, ../sass/features/sub/_service.scss */
.node-service.view-mode-teaser h2 {
  color: #0c7ec3;
  font-family: "caviar_dreamsregular", Arial, sans-serif;
  font-weight: normal;
}
/* line 62, ../sass/features/sub/_service.scss */
.node-service.view-mode-teaser p {
  padding: 0 1em;
}
@media (min-width: 55em) {
  /* line 39, ../sass/features/sub/_service.scss */
  .node-service.view-mode-teaser {
    min-height: 20em;
    margin-bottom: 2em;
  }
}

/* line 74, ../sass/features/sub/_service.scss */
.view-mode-teaser.heating h2 {
  color: #0c7ec3;
}

/* line 77, ../sass/features/sub/_service.scss */
.view-mode-teaser.ventilation h2 {
  color: #6ba5d9;
}

/* line 80, ../sass/features/sub/_service.scss */
.view-mode-teaser.sanitair h2 {
  color: #0062a7;
}

/* line 83, ../sass/features/sub/_service.scss */
.view-mode-teaser.solar h2 {
  color: #84d0f5;
}
