/**
 * Internet Explorer style file
 *
 * This file is compiled into ie.css
 */

/* ---------- Compass Extensions ---------- */

@import 'toolkit';
@import 'susy';
@import 'respond-to';

// Turn off media-query output for IE-only stylesheets.
// $breakpoint-media-output: <boolean>;
$breakpoint-media-output: false;

//Turn off media-query fallback output for non-IE stylesheets.
// $breakpoint-ie-output: <boolean>;
$breakpoint-ie-output: true;

/* ---------- Import base ---------- */

@import 'base/logic/variables';
@import 'base/logic/functions';
@import 'base/logic/mixins';
@import 'base/logic/normalize';
@import 'base/logic/extendables';

@import 'base/layout';
@import 'base/colors';
@import 'base/typography';
@import 'base/design';

/* ---------- Import styles ---------- */

@import 'styles/styles';

/* ---------- Import features ---------- */

@import 'features/features';